* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: #1a2c38;
  font-family: 'Roboto', sans-serif;
  user-select: none;
}
section {
  background-color: #213742;
  width: 300px;
  padding: 20px;
  border-radius: 10px 0 0 10px;
}
main {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  background-color: #10212d;
  width: 1500px;
  border-radius: 10px;
}
.mineWrapper {
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
  margin: 0 auto;
  padding: 20px 0;
  background-color: #10212d;
  justify-content: center;
}
.mineSquare {
  position: relative;
  width: 130px;
  height: 130px;
  background-color: #081724;
  border-radius: 10px;
  cursor: pointer;
}
.mineSquare > .overlay {
  width: 100%;
  height: 100%;
  background-color: #2f4552;
  border-radius: 10px;
  transition: 0.3s;
  z-index: 1;
  overflow: hidden;
}

.overlay::after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 8px;
  background-color: #1f3742;
  border-radius: 0 0 8px 8px;
  overflow: hidden;
}
.overlay:hover {
  background-color: #557186;
  translate: 0 -10px;
}
.mineSquare.win {
  color: #0bfb02;
}
.mineSquare.win::after,
.mineSquare.lose::after {
  display: none;
  background-color: #081724;
}
.mineSquare.lose {
  color: #ff013e;
}
.mineSquare i {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  font-size: 100px;
  transform: scale(0);
  transition: opacity 0.3s ease, transform 0.3s ease;
}
@keyframes revealAnimation {
  0% {
    transform: scale(1); /* Początkowa wielkość */
    opacity: 1; /* Widoczność */
  }
  50% {
    transform: scale(1.1); /* Powiększenie */
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    transform: scale(0); /* Zmniejszenie i zniknięcie */
    opacity: 0;
  }
}
@keyframes overlayAnimation {
  0% {
    transform: scale(0); /* Początkowa wielkość */
    opacity: 0; /* Widoczność */
  }
  50% {
    transform: scale(1.2); /* Powiększenie */
  }
  100% {
    transform: scale(1); /* Zmniejszenie i zniknięcie */
    opacity: 1;
  }
}
@keyframes tileValuePop {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}

.numOfMines,
.balanceContainer,
.betContainer,
.cashoutContainer {
  line-height: 30px;
  /* border: 1px solid black; */
  margin-bottom: 10px;
  color: #97acbe;
  font-size: 18px;
}
.betContainer {
  display: flex;
  flex-direction: column;
  position: relative;
}
#bet {
  background-color: #071824;
  line-height: 50px;
  padding-left: 10px;
  border: 0.5px #557186 solid;
  border-radius: 5px;
  color: white;
  font-size: 18px;
}
.actionBtnContainer {
  position: relative;
}
.actionBtn {
  width: 100%;
  line-height: 50px;
  background-color: #0bfb02;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.balanceContainer {
  display: flex;
  flex-direction: column;
}
.balance {
  display: flex;
  background-color: #071824;
  line-height: 50px;
  padding-left: 10px;
  border: 0.5px #557186 solid;
  border-radius: 5px;
  color: white;
  padding-left: 5px;
}
.numOfMines {
  display: flex;
  flex-direction: column;
  position: relative;
}
#mines {
  background-color: #071824;
  height: 50px;
  padding: 0 10px;
  border: 0.5px #557186 solid;
  border-radius: 5px;
  color: white;
  font-size: 18px;
}
.cashout {
  background-color: #071824;
  height: 50px;
  line-height: 50px;
  padding: 0 10px;
  border: 0.5px #557186 solid;
  border-radius: 5px;
  color: white;
  font-size: 18px;
}
.cashoutContainer {
  display: none;
  position: relative;
  transition: 0.3s;
}
.winResults {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* width: 150px; */
  /* height: 100px; */
  /* padding: 20px 50px; */
  background-color: #213742;
  border-radius: 10px;
  border: #0bfb02 solid 5px;
  color: #0bfb02;
  font-size: 25px;
  font-weight: bold;
}
.winResults > div {
  display: flex;
  flex-direction: row;
  /* padding: 10px 20px; */
}
.winResultMultiplier {
  font-size: 43px;
}
.winResultMultiplierContainer {
  padding: 20px 60px 5px;
}
.winResultMultiplier::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
}
.winResultPrizeContainer {
  padding: 20px 0;
}
.resultLine {
  width: 50px;
  height: 5px;
  background-color: #557186;
  border-radius: 5px;
  padding: 0;
}
.unrevealed {
  filter: brightness(30%);
  scale: 0.8;
}
.blockInteraction {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 3;
}
@media (max-width: 1650px) {
  main {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    background-color: #10212d;
    width: 1500px;
    border-radius: 10px;
    scale: 0.8;
  }
}
@media (max-width: 1350px) {
  main {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    background-color: #10212d;
    width: 1500px;
    border-radius: 10px;
    scale: 0.7;
  }
}
@media (max-width: 1279px) {
  main {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    background-color: #10212d;
    width: 1500px;
    border-radius: 10px;
    scale: 0.6;
  }
}
@media (max-width: 768px) {
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 670px;
    height: 120vh;
  }
  section {
    display: flex;
    justify-content: space-around;
    width: 600px;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 50px;
  }
  .mobileWrapper {
    width: 250px;
  }
  .mineSquare {
    width: 110px;
    height: 110px;
    border-radius: 10px;
  }
  .mineSquare i {
    font-size: 75px;
  }
  .actionBtnContainer {
    margin-top: 40px;
  }
  .actionBtn {
    color: black;
    font-size: 20px;
  }
  .overlay {
    pointer-events: none;
  }
}
